@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: light;
    --bg: #fff;
    --accent-bg: #f5f7ff;
    --text: #212121;
    --text-light: #585858;
    --accent: #0d47a1;
    --accent-hover: #1266e2;
    --accent-text: var(--bg);
    --code: #d81b60;
    --preformatted: #444;
    --marked: #ffdd33;
    --disabled: #efefef;
  }
}

:root {
  /* Set sans-serif & mono fonts */
  --sans-font: "Noto Sans TC";
  --mono-font: Consolas, Menlo, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  --standard-border-radius: 5px;
  
  font-family: "Noto Sans TC", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;  
  
  /* Default (light) theme */
  --accent: #573323;
  --code: #573323;
}

h1,h2 {
  font-weight: 500;
}

h3 {
  font-weight: 400;
}

/* 
 <weight>: Use a value from 100 to 900
 <uniquifier>: Use a unique and descriptive class name

.noto-sans-tc-400 {
  font-family: "Noto Sans TC", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.noto-sans-tc-500 {
  font-family: "Noto Sans TC", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}  
*/
