:root {
  --accent: #FF6000;
  --code: #FF6000;
}

.logo {
  display: inline-flex;
  column-gap: 1.5em;
  justify-content: center;
  align-items: center;
  padding: 1em;
}
.to-right {
  text-align: right;
}
.to-center {
  text-align: center;
}
  
nav ul {
  display: flex;
  list-style: none;
}

nav li {
  border: 0px solid lightgrey;
  padding: 1em;
}

.links-list a {
  background-color: lightgrey;
  /*color: grey;*/
  text-decoration: none;
  padding: 0.5em 2.5em;
  display: inline-block;
}

.links-list a:hover {
  background-color: #FF6000;
  color: lightgrey;
}

.container {
/*	display: flex;
	justify-content: center;
	align-items: center;*/
}

