:root {
  --accent: chocolate;
}

nav ul {
  display: flex;
/*  list-style: none;*/
}

nav li {
/*  border: 0px solid pink;*/
  padding: 1em;
}

.links-list a {
  background-color: lightgrey;
  color: grey;
/*  text-decoration: none;
  padding: 0.5em 1em;
  display: inline-block;*/
}

.links-list a:hover {
  background-color: #F92672;
  color: lightgrey;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
}

