#btn-back-to-top {
  position: fixed;
  bottom:20px;
  right: 20px;
  display: none;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 0;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}

.logo {
  display: inline-flex;
  column-gap: 1.5em;
  justify-content: center;
  align-items: center;
  padding: 1em;
}

.to-right {
  text-align: right;
}

.to-center {
  text-align: center;
}
  
nav ul {
  display: flex;
  list-style: none;
}

nav li {
  border: 0px solid #E5E5E5;
  padding: 0.1em;
}

.links-list a {
  background-color: #E5E5E5;
  /*color: #FF6000;*/
  text-decoration: none;
  padding: 0.5em 2.5em;
  display: inline-block;
  transition: all .3s linear;
}

.links-list a:hover {
  background-color: #573323;
  color: lightgrey;
}

.container {
/*	display: flex;
	justify-content: center;
	align-items: center;*/
}

